.container {
  width :80vw;
  height: 50vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  border: 2px solid white;
  background-color: rgb(77, 74, 74);
}

.loginBtn{
  width:30vw;
  height: 3vh;
  border: none;
  outline: none;
  border-radius: 1vw;
  cursor: pointer;
  background-color: blanchedalmond;

}